body {
  font-size: 16px;
}

.container {
  margin: 48px 20px 20px;
}

.search {
  position: relative;
  z-index: var(--z-search);
  width: 50%;
  margin: 0 auto 48px;
}

.input {
  &Box {
    display: flex;
    border: 3px solid var(--primary-color);
    background-color: var(--bg-paper);
  }

  &Icon {
    font-size: 20px;
    place-self: center center;
    width: 26px;
    min-width: 26px;
    max-width: 26px;
    text-align: center;
    margin-left: 10px;
    user-select: none;
  }

  &Field {
    background-color: unset;
    border: none;
    width: 100%;
    font-size: 18px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }
}
