@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/FiraMonoNerdFontPropo-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/FiraMonoNerdFontPropo-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/FiraMonoNerdFontPropo-Bold.otf") format("truetype");
}

body {
  font-family: "Fira Mono", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--text-line-height);
  color: var(--primary-color);
  background-color: var(--bg);
  width: 100%;
}
